@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* SCROLLBAR */

body::-webkit-scrollbar,
.list_top_trend_film::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb,
.list_top_trend_film::-webkit-scrollbar-thumb {
  /*thanh scroll*/
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  max-height: 50%;
  height: 200px;
}

body::-webkit-scrollbar-track,
.list_top_trend_film::-webkit-scrollbar-track {
  /*thanh contain scroll*/
  background-color: #ccc;
  border-radius: 50px;
}

body {
  /* height: 10000px; */
  background-color: #424040;
}

/* slider_latest_film */
.slider_latest_film {
  height: 340px;
}
.slider_latest_film .slick-list {
  height: 100%;
}
.slider_latest_film .slick-list .slick-track {
  height: 100%;
}
.slider_latest_film .slick-list .slick-track .slick-slide > div {
  height: 100%;
}
/* ///////////////////////////////////////////////////////// */

/* list_slider_film */
.list_slider_film {
  /* height: 270px; */
}
.list_slider_film .slick-list {
  height: 100%;
}
.list_slider_film .slick-list .slick-track {
  height: 100%;
}
.list_slider_film .slick-list .slick-track .slick-slide {
  /* width: 160px; */
}
.list_slider_film .slick-list .slick-track .slick-slide > div {
  height: 100%;
  /* margin-left: 10px;
  margin-right: 10px; */
  /* width: 160px; */
}
/* ///////////////////////////////////////////////////////// */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
